$dark-orange: #FF5700;
$orange: #FF8E00;
$gold: #FFB828;
$brown: #8D4A00;
$dark-brown: darken($brown, 10);


body {
  margin: 0;
  padding: 0;
  font-family: 'Lobster', Arnoldboecklin, cursive;

  h1 {
    color: $dark-orange;
    text-shadow: 0.125rem 0.125rem 0 $dark-brown;
    font-size: 4rem;
  }

  main {
    background: url("../images/sand.jpg");
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    > * {
      flex: 0 1;
    }

    .grid {
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      z-index: 1000;
      pointer-events: none;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;

        .row {
          flex: 1;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .hiding-spot {
            width: 12vw;
            height: 100%;
            background-color: rgba(red, 0.25);
            pointer-events: all;
          }
        }
      }
    }
  
    .buttons {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
    }
    .state {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      * { margin: 0.125rem; }
      h2 { font-size: 0.75rem; }
      .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: left;
        p {
          font-size: 0.625rem;
          flex: 1;
        }
      }
    }
  }
}