.crab {
  width: 50%;
  overflow: visible;
}

@keyframes move-firstLeg-firstPart {
  0% {
    transform: rotate(-14deg);
  }

  10% {
    transform: rotate(-14deg);
  }

  50% {
    transform: rotate(13deg);
  }

  100% {
    transform: rotate(-14deg);
  }
}

@keyframes move-firstLeg-secondPart {
  0% {
    transform: rotate(31deg);
  }

  35% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(-25deg);
  }

  100% {
    transform: rotate(31deg);
  }
}

@keyframes move-firstLeg-thirdPart {
  0% {
    transform: rotate(-17deg);
  }

  35% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(12deg);
  }
  
  100% {
    transform: rotate(-17deg);
  }
}

.crab #left-legs #first-leg {
  transform: rotate(-14deg);
  transform-origin: 56.71% 54.65%;
}

.crab:hover #left-legs #first-leg {
  animation-name: move-firstLeg-firstPart;
  animation-duration: 1s;
  animation-delay:0.125s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}


.crab #left-legs #first-leg #second-part {
  transform: rotate(31deg);
  transform-origin: 73.03% 33.13%;
}

.crab:hover #left-legs #first-leg #second-part {
  animation-name: move-firstLeg-secondPart;
  animation-duration: 1s;
  animation-delay:0.125s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

.crab #left-legs #first-leg #third-part {
  transform: rotate(-17deg);
  transform-origin: 88.36% 49.33%;
}

.crab:hover #left-legs #first-leg #third-part {
  animation-name: move-firstLeg-thirdPart;
  animation-duration: 1s;
  animation-delay:0.125s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

@keyframes move-secondLeg-firstPart {
  0% {
    transform: rotate(-15.5deg);
  }

  10% {
    transform: rotate(-15.5deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-15.5deg);
  }
}

@keyframes move-secondLeg-secondPart {
  0% {
    transform: rotate(21deg);
  }

  35% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(21deg);
  }
}

@keyframes move-secondLeg-thirdPart {
  0% {
    transform: rotate(-16deg);
  }

  35% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(12deg);
  }
  
  100% {
    transform: rotate(-16deg);
  }
}

.crab #left-legs #second-leg {
  transform: rotate(-15.5deg);
  transform-origin: 56.12% 62.95%;
}

.crab:hover #left-legs #second-leg {
  animation-name: move-secondLeg-firstPart;
  animation-duration: 1s;
  animation-delay:0.375s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}


.crab #left-legs #second-leg #second-part {
  transform: rotate(21deg);
  transform-origin: 69.94% 45.98%;
}

.crab:hover #left-legs #second-leg #second-part {
  animation-name: move-secondLeg-secondPart;
  animation-duration: 1s;
   animation-delay:0.375s;
   animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

.crab #left-legs #second-leg #third-part {
  transform: rotate(-16deg);
  transform-origin: 83.4% 60.38%;
}

.crab:hover #left-legs #second-leg #third-part {
  animation-name: move-secondLeg-thirdPart;
  animation-duration: 1s;
   animation-delay:0.375s;
   animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

@keyframes move-thirdLeg-firstPart {
  0% {
    transform: rotate(-15.5deg);
  }

  10% {
    transform: rotate(-15.5deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-15.5deg);
  }
}

@keyframes move-thirdLeg-secondPart {
  0% {
    transform: rotate(4deg);
  }

  35% {
    transform: rotate(-35deg);
  }

  50% {
    transform: rotate(-35deg);
  }

  100% {
    transform: rotate(4deg);
  }
}

@keyframes move-thirdLeg-thirdPart {
  0% {
    transform: rotate(3deg);
  }

  35% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(-3deg);
  }
  
  100% {
    transform: rotate(3deg);
  }
}

.crab #left-legs #third-leg {
  transform: rotate(-15.5deg);
  transform-origin: 55.63% 70.63%;
}

.crab:hover #left-legs #third-leg {
  animation-name: move-thirdLeg-firstPart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}


.crab #left-legs #third-leg #second-part {
  transform: rotate(4deg);
  transform-origin: 67.48% 57%;
}

.crab:hover #left-legs #third-leg #second-part {
  animation-name: move-thirdLeg-secondPart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

.crab #left-legs #third-leg #third-part {
  transform: rotate(3deg);
  transform-origin: 79.41% 70.08%;
}

.crab:hover #left-legs #third-leg #third-part {
  animation-name: move-thirdLeg-thirdPart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

@keyframes move-fourthLeg-firstPart {
  0% {
    transform: rotate(-11deg);
  }

  10% {
    transform: rotate(-11deg);
  }

  50% {
    transform: rotate(14deg);
  }

  100% {
    transform: rotate(-11deg);
  }
}

@keyframes move-fourthLeg-secondPart {
  0% {
    transform: rotate(3.5deg);
  }

  35% {
    transform: rotate(-35deg);
  }

  50% {
    transform: rotate(-35deg);
  }

  100% {
    transform: rotate(3.5deg);
  }
}

@keyframes move-fourthLeg-thirdPart {
  0% {
    transform: rotate(-15deg);
  }

  35% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-45deg);
  }
  
  100% {
    transform: rotate(-15deg);
  }
}

.crab #left-legs #fourth-leg {
  transform: rotate(-11deg);
  transform-origin: 55.08% 77.28%;
}

.crab:hover #left-legs #fourth-leg {
  animation-name: move-fourthLeg-firstPart;
  animation-duration: 1s;
  animation-delay:0.25s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}


.crab #left-legs #fourth-leg #second-part {
  transform: rotate(3.5deg);
  transform-origin: 65.42% 65.93%;
}

.crab:hover #left-legs #fourth-leg #second-part {
  animation-name: move-fourthLeg-secondPart;
  animation-duration: 1s;
  animation-delay:0.25s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}

.crab #left-legs #fourth-leg #third-part {
  transform: rotate(-15deg);
  transform-origin: 76.48% 77.93%;
}

.crab:hover #left-legs #fourth-leg #third-part {
  animation-name: move-fourthLeg-thirdPart;
  animation-duration: 1s;
  animation-delay:0.25s;
  animation-iteration-count: infinite;
 animation-direction: forwards;
  
}