body {
  margin: 0;
  padding: 0;
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    > * {
      flex: 0 1;
    }

    .grid {
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      z-index: 1000;
      pointer-events: none;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;

        .row {
          flex: 1;
          padding: 1rem;
          display: flex;
          justify-content: center;

          .hiding-spot {
            width: 12vw;
            height: 100%;
            background-color: rgba(red, 0.25);
          }
        }
      }
    }

    #inch {
      width: 1in;
      height: 1in;
      pointer-events: none;
      position: absolute;
      z-index: -100;
    }

    form {
      label {
        display: block;
      }
    }

    .state {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      * { margin: 0.125rem; }
      h2 { font-size: 0.75rem; }
      .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: left;
        p {
          font-size: 0.625rem;
          flex: 1;
        }
      }
    }
  }
}