body {
  margin: 0;
  padding: 0;
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    > * {
      flex: 0 1;
    }

    .grid {
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      z-index: 1000;
      pointer-events: none;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;

        .row {
          flex: 1;
          padding: 1rem;

          .hiding-spot {
            width: 100%;
            height: 100%;
            background-color: red;
          }
        }
      }
    }

    #inch {
      width: 1in;
      height: 1in;
      pointer-events: none;
      position: absolute;
      z-index: -100;
    }

    form {
      label {
        display: block;
      }
    }
  }
}