body {
  margin: 0;
  padding: 0;
  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    > * {
      flex: 0 1;
    }

    .grid {
      position: absolute;
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      z-index: 1000;
      pointer-events: none;

      .column {
        flex: 1;
        display: flex;
        flex-direction: column;

        .row {
          flex: 1;
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          .hiding-spot {
            width: 12vw;
            height: 100%;
            background-color: rgba(red, 0.25);
            pointer-events: all;
          }
        }
      }
    }

    #inch {
      width: 1in;
      height: 1in;
      pointer-events: none;
      position: absolute;
      z-index: -100;
      top: -1in;
      left: -1in;
      visibility: hidden;
      pointer-events: none;
    }
  
    .buttons {
      position: absolute;
      z-index: 10000;
      top: 0;
      left: 0;
    }
    
    button {
      appearance: none;
      border: none;
      border-radius: 0.25rem;
      padding: 0.5rem;
      background-color: #FF8E00;
      color: white;
      line-height: 0;
      outline: none;
      margin: 0.25rem;
      cursor: pointer;
      transition: background-color 0.25s;

      &:hover {
        background-color: #FF5700;
      }

      &:active, &:active:hover {
        background-color: #FFB828;
      }

      &:disabled {
        background-color: #999;
      }

      svg.fa-expand, svg.fa-compress, svg.fa-walking {
        width: 1rem;
        height: 1rem;
      }
    }
    .state {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
      * { margin: 0.125rem; }
      h2 { font-size: 0.75rem; }
      .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: left;
        p {
          font-size: 0.625rem;
          flex: 1;
        }
      }
    }
  }
}