// Build Script
// cat src/components/Crab/style/style.scss | npx node-sass --output-style compressed > src/components/Crab/style/style.css
@keyframes moveLefts-firstLeg-firstPart {
  10% { transform: rotateZ(-14deg); }
  50% { transform: rotateZ(13deg); }
}
@keyframes moveLefts-firstLeg-secondPart {
  35% { transform: rotateZ(-25deg); }
  50% { transform: rotateZ(-25deg); }
}
@keyframes moveLefts-firstLeg-thirdPart {
  35% { transform: rotateZ(8deg); }
  50% { transform: rotateZ(12deg); }
}
@keyframes moveLefts-secondLeg-firstPart {
  10% { transform: rotateZ(-15.5deg); }
  50% { transform: rotateZ(10deg); }
}
@keyframes moveLefts-secondLeg-secondPart {
  35% { transform: rotateZ(-30deg); }
  50% { transform: rotateZ(-30deg); }
}
@keyframes moveLefts-secondLeg-thirdPart {
  35% { transform: rotateZ(8deg); }
  50% { transform: rotateZ(12deg); }
}
@keyframes moveLefts-thirdLeg-firstPart {
  10% { transform: rotateZ(-15.5deg); }
  50% { transform: rotateZ(10deg); }
}
@keyframes moveLefts-thirdLeg-secondPart {
  35% { transform: rotateZ(-35deg); }
  50% { transform: rotateZ(-35deg); }
}
@keyframes moveLefts-thirdLeg-thirdPart {
  35% { transform: rotateZ(-3deg); }
  50% { transform: rotateZ(-3deg); }
}
@keyframes moveLefts-fourthLeg-firstPart {
  10% { transform: rotateZ(-11deg); }
  50% { transform: rotateZ(14deg); }
}
@keyframes moveLefts-fourthLeg-secondPart {
  35% { transform: rotateZ(-35deg); }
  50% { transform: rotateZ(-35deg); }
}
@keyframes moveLefts-fourthLeg-thirdPart {
  35% { transform: rotateZ(-45deg); }
  50% { transform: rotateZ(-45deg); }
}
@keyframes moveRights-firstLeg-firstPart {
  10% { transform: rotateZ(14deg); }
  50% { transform: rotateZ(-13deg); }
}
@keyframes moveRights-firstLeg-secondPart {
  35% { transform: rotateZ(25deg); }
  50% { transform: rotateZ(25deg); }
}
@keyframes moveRights-firstLeg-thirdPart {
  35% { transform: rotateZ(-8deg); }
  50% { transform: rotateZ(-12deg); }
}
@keyframes moveRights-secondLeg-firstPart {
  10% { transform: rotateZ(15.5deg); }
  50% { transform: rotateZ(-10deg); }
}
@keyframes moveRights-secondLeg-secondPart {
  35% { transform: rotateZ(30deg); }
  50% { transform: rotateZ(30deg); }
}
@keyframes moveRights-secondLeg-thirdPart {
  35% { transform: rotateZ(-8deg); }
  50% { transform: rotateZ(-12deg); }
}
@keyframes moveRights-thirdLeg-firstPart {
  10% { transform: rotateZ(15.5deg); }
  50% { transform: rotateZ(-10deg); }
}
@keyframes moveRights-thirdLeg-secondPart {
  35% { transform: rotateZ(35deg); }
  50% { transform: rotateZ(35deg); }
}
@keyframes moveRights-thirdLeg-thirdPart {
  35% { transform: rotateZ(3deg); }
  50% { transform: rotateZ(3deg); }
}
@keyframes moveRights-fourthLeg-firstPart {
  10% { transform: rotateZ(11deg); }
  50% { transform: rotateZ(-14deg); }
}
@keyframes moveRights-fourthLeg-secondPart {
  35% { transform: rotateZ(35deg); }
  50% { transform: rotateZ(35deg); }
}
@keyframes moveRights-fourthLeg-thirdPart {
  35% { transform: rotateZ(45deg); }
  50% { transform: rotateZ(45deg); }
}

.crab-wrapper {
  display: flex;
  justify-content: center;
  height: auto;
  overflow: visible;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  animation-fill-mode: both;
  pointer-events: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;


  @media (pointer: coarse) {
    * {
      cursor: initial!important;
    }
  }

  

  &.display * {
    cursor: initial!important;
  }

  * {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }

  &.hidden {
    position: absolute;
    top: -300px;
    left: -300px;
  }

  &.walking {
    pointer-events: all;
    &.paused * {
      pointer-events: none;
      animation-play-state: paused;
    }
  }

  .crab {
    overflow: visible;
    pointer-events: none;
    width: 100%;
    height: auto;

    @keyframes move-shell {
    33.33% { transform: rotateZ(1deg); }
    66.66% { transform: rotateZ(-1deg); }
    }

    .legs {
      * { animation-fill-mode: both; }
      .left-legs {
        .first-leg {
          transform: rotateZ(-14deg);
          transform-origin: 56.67% 61.28%;
          .second-part {
            transform: rotateZ(31deg);
            transform-origin: 72.4% 42.34%;
            .third-part {
              transform: rotateZ(-17deg);
              transform-origin: 87.71% 57.02%;
            }
          }
        }

      .second-leg {
        transform: rotateZ(-15.5deg);
        transform-origin: 56.15% 68.72%;
        .second-part {
          transform: rotateZ(21deg);
          transform-origin: 69.69% 52.34%;
          .third-part {
            transform: rotateZ(-16deg);
            transform-origin: 83.02% 65.32%;
          }
        }
      }

      .third-leg {
        transform: rotateZ(-15.5deg);
        transform-origin: 55.63% 75.74%;
        .second-part {
          transform: rotateZ(4deg);
          transform-origin: 68.44% 60.43%;
          .third-part {
            transform: rotateZ(3deg);
            transform-origin: 81.04% 72.34%;
          }
        }
      }

      .fourth-leg {
        transform: rotateZ(-11deg);
        transform-origin: 55.1% 81.7%;
        .second-part {
          transform: rotateZ(3.5deg);
          transform-origin: 65.42% 71.49%;
          .third-part {
            transform: rotateZ(-15deg);
            transform-origin: 76.46% 81%;
          }
        }
      }
    }

      .right-legs {
        .first-leg {
          transform: rotateZ(14deg);
          transform-origin: 43.33% 61.28%;
          .second-part {
            transform: rotateZ(-31deg);
            transform-origin: 27.6% 42.34%;
            .third-part {
              transform: rotateZ(17deg);
              transform-origin: 12.29% 57.02%;
            }
          }
        }

        .second-leg {
          transform: rotateZ(15.5deg);
          transform-origin: 43.85% 68.72%;
          .second-part {
            transform: rotateZ(-21deg);
            transform-origin: 30.31% 52.34%;
            .third-part {
              transform: rotateZ(16deg);
              transform-origin: 16.98% 65.32%;
            }
          }
        }

        .third-leg {
          transform: rotateZ(15.5deg);
          transform-origin: 44.37% 75.74%;
          .second-part {
            transform: rotateZ(-4deg);
            transform-origin: 31.56% 60.43%;
            .third-part {
              transform: rotateZ(-3deg);
              transform-origin: 18.96% 72.34%;
            }
          }
        }

        .fourth-leg {
          transform: rotateZ(11deg);
          transform-origin: 44.9% 81.7%;
          .second-part {
            transform: rotateZ(-3.5deg);
            transform-origin: 34.58% 71.49%;
            .third-part {
              transform: rotateZ(15deg);
              transform-origin: 23.54% 81%;
            }
          }
        }
    }
    }

    &.walking {
      .shell .outer-shell {
        transform-origin: 50% 85.07%;
        animation-name: move-shell;
        animation-iteration-count: infinite;
        pointer-events: all;
        cursor: pointer;
        animation-duration: 1.5s;
      }

      &.paused {
        .legs *, .shell {
          animation-play-state: paused;
          pointer-events: none;
        }
      }
      .leg * {
        animation-duration: inherit;
        animation-direction: inherit;
        animation-iteration-count: infinite;
      }
      .first-left-leg {
        animation-name: moveLefts-firstLeg-firstPart;
        animation-delay:0.125s;
        * { animation-delay:0.125s; }
      }
      .first-left-leg-second-part {
        animation-name: moveLefts-firstLeg-secondPart;
      }
      .first-left-leg-third-part {
        animation-name: moveLefts-firstLeg-thirdPart;
      }

      .second-left-leg {
        animation-name: moveLefts-secondLeg-firstPart;
            animation-delay:0.375s;
            * { animation-delay:0.375s; }
      }
      .second-left-leg-second-part {
        animation-name: moveLefts-secondLeg-secondPart;
      }
      .second-left-leg-third-part {
        animation-name: moveLefts-secondLeg-thirdPart;
      }

      .third-left-leg {
        animation-name: moveLefts-thirdLeg-firstPart;
      }
      .third-left-leg-second-part {
        animation-name: moveLefts-thirdLeg-secondPart;
      }
      .third-left-leg-third-part {
        animation-name: moveLefts-thirdLeg-thirdPart;
      }

      .fourth-left-leg {
        animation-name: moveLefts-fourthLeg-firstPart;
        animation-delay:0.25s;
        * { animation-delay:0.25s; }
      }
      .fourth-left-leg-second-part {
        animation-name: moveLefts-fourthLeg-secondPart;
      }
      .fourth-left-leg-third-part {
        animation-name: moveLefts-fourthLeg-thirdPart;
      }

      .first-right-leg {
        animation-name: moveRights-firstLeg-firstPart;
        animation-delay:0.255s;
        * { animation-delay:0.255s; }
      }
      .first-right-leg-second-part {
        animation-name: moveRights-firstLeg-secondPart;
      }
      .first-right-leg-third-part {
        animation-name: moveRights-firstLeg-thirdPart;
      }

      .second-right-leg {
        animation-name: moveRights-secondLeg-firstPart;
        animation-delay:0.12s;
        * { animation-delay:0.12s; }
      }
      .second-right-leg-second-part {
        animation-name: moveRights-secondLeg-secondPart;
      }
      .second-right-leg-third-part {
        animation-name: moveRights-secondLeg-thirdPart;
      }

      .third-right-leg {
        animation-name: moveRights-thirdLeg-firstPart;
        animation-delay:0.37s;
        * { animation-delay:0.37s; }
      }
      .third-right-leg-second-part {
        animation-name: moveRights-thirdLeg-secondPart;
      }
      .third-right-leg-third-part {
        animation-name: moveRights-thirdLeg-thirdPart;
      }

      .fourth-right-leg {
        animation-name: moveRights-fourthLeg-firstPart;
        animation-delay:0.005s;
        * { animation-delay:0.005s; }
      }
      .fourth-right-leg-second-part {
        animation-name: moveRights-fourthLeg-secondPart;
      }
      .fourth-right-leg-third-part {
        animation-name: moveRights-fourthLeg-thirdPart;
      }
    }

    .pincers {
    .left-pincer {
      transform: rotateZ(20deg);
      transform-origin: 55.42% 53.79%;
      .second-part {
        transform: rotateZ(-20deg);
        transform-origin: 62.08% 42%;
        .third-part {
          transform: rotateZ(-75deg);
          transform-origin: 65% 32%;
          .moving-pincer {
            transform: rotateZ(5deg);
            transform-origin: 68.96% 19.79%;
          }
        }
      }
    }
    .right-pincer {
      transform: rotateZ(-20deg);
      transform-origin: 44.79% 53.58%;
      .second-part {
        transform: rotateZ(20deg);
        transform-origin: 37.75% 41%;
        .third-part {
          transform: rotateZ(20deg);
          transform-origin: 34.48% 30.21%;
          .moving-pincer {
            transform: rotateZ(5deg);
            transform-origin: 30% 15.42%;
          }
        }
      }
    }
    }

    .mouth {
    .outer-mouth {
      .right-mouth {
        transform-origin: 50% 45.01%;
      }
      .left-mouth {
        transform-origin: 50% 45.01%;
      }
    }
    }

    @keyframes left-eye {
    0% { transform: rotateZ(23deg); }
    5% { transform: rotateZ(23deg); }
    7% { transform: rotateZ(27deg); }
    10% { transform: rotateZ(20deg); }
    25% { transform: rotateZ(20deg); }
    30% { transform: rotateZ(-10deg); }
    45% { transform: rotateZ(-10deg); }
    55% { transform: rotateZ(10deg); }
    75% { transform: rotateZ(-10deg); }
    80% { transform: rotateZ(-20deg); }
    85% { transform: rotateZ(23deg); }
    100% { transform: rotateZ(23deg); }
    }

    @keyframes right-eye {
    0% { transform: rotateZ(-10deg); }
    7% { transform: rotateZ(-15deg); }
    10% { transform: rotateZ(10deg); }
    14% { transform: rotateZ(29deg); }
    29% { transform: rotateZ(2deg); }
    33% { transform: rotateZ(-20deg); }
    44% { transform: rotateZ(10deg); }
    51% { transform: rotateZ(-20deg); }
    73% { transform: rotateZ(-25deg); }
    81% { transform: rotateZ(-4deg); }
    86% { transform: rotateZ(-10deg); }
    100% { transform: rotateZ(-10deg); }
    }

    .eyes {
    * {
      animation-iteration-count: infinite;
      animation-direction: normal;
    }
    .left-eye {
      transform: rotateZ(23deg);
      transform-origin: 59.88% 28.34%;
      animation-name: left-eye;
      animation-duration: 9s;
    }

    .right-eye {
      transform: rotateZ(-10deg);
      transform-origin: 40.13% 28.34%;
      animation-name: right-eye;
      animation-duration: 8.5s;
    }
    }

    // EATING ANIMATION
    @keyframes eating-right-pincer {
    25% { transform: rotateZ(40deg); }
    50% { transform: rotateZ(-20deg); }
    }

    @keyframes eating-right-pincer-secondPart {
    25% { transform: rotateZ(-30deg); }
    50% { transform: rotateZ(20deg); }
    70% { transform: rotateZ(70deg); }
    75% { transform: rotateZ(70deg); }
    }

    @keyframes eating-right-pincer-thirdPart {
    25% { transform: rotateZ(-10deg); }
    50% { transform: rotateZ(20deg); }
    70% { transform: rotateZ(40deg); }
    75% { transform: rotateZ(40deg); }
    }

    @keyframes eating-right-pincer-close {
    17% { transform: rotateZ(-5deg); }
    20% { transform: rotateZ(35deg); }
    50% { transform: rotateZ(35deg); }
    70% { transform: rotateZ(35deg); }
    75% { transform: rotateZ(-5deg); }
    }

    @keyframes eating-left-pincer {
    33.33% { transform: rotateZ(20deg); }
    46.66% { transform: rotateZ(5deg); }
    50% { transform: rotateZ(5deg); }
    60% { transform: rotateZ(0deg); }
    90% { transform: rotateZ(0deg); }
    }

    @keyframes eating-left-pincer-secondPart {
    33.33% { transform: rotateZ(-20deg); }
    46.66% { transform: rotateZ(-24deg); }
    50% { transform: rotateZ(-24deg); }
    60% { transform: rotateZ(-30deg); }
    90% { transform: rotateZ(-30deg); }
    }

    @keyframes eating-left-pincer-thirdPart {
    33.33% { transform: rotateZ(-75deg); }
    46.66% { transform: rotateZ(-75deg); }
    50% { transform: rotateZ(-75deg); }
    60% { transform: rotateZ(-80deg); }
    90% { transform: rotateZ(-80deg); }
    }

    @keyframes eating-left-pincer-close {
    46.66% { transform: rotateZ(5deg); }
    50% { transform: rotateZ(-25deg); }
    90% { transform: rotateZ(-25deg); }
    }

    @keyframes eating-right-mouth {
    10% { transform: rotateZ(-4deg) skewX(4deg); }
    20% { transform: rotateZ(-2deg) skewX(2deg); }
    35% { transform: rotateZ(-4deg) skewX(4deg); }
    45% { transform: rotateZ(-2deg) skewX(2deg); }
    60% { transform: rotateZ(-4deg) skewX(4deg); }
    65% { transform: rotateZ(-2deg) skewX(2deg); }
    70% { transform: rotateZ(-4deg) skewX(4deg); }
    80% { transform: rotateZ(-2deg) skewX(2deg); }
    90% { transform: rotateZ(-4deg) skewX(4deg); }
    }

    @keyframes eating-left-mouth {
    12% { transform: rotateZ(10deg) skewX(-10deg); }
    22% { transform: rotateZ(2deg) skewX(-2deg); }
    62% { transform: rotateZ(10deg) skewX(-10deg); }
    67% { transform: rotateZ(2deg) skewX(-2deg); }
    92% { transform: rotateZ(10deg) skewX(-10deg); }
    }

    &.eating {
    .pincers {
      * { animation-timing-function: ease-in-out; }
      .right-pincer {
        animation-name: eating-right-pincer;
        animation-duration: 2s;
        animation-delay: 0.5s;
        * {
          animation-duration: 2s;
          animation-delay: 0.5s;
        }
        .second-part {
          animation-name: eating-right-pincer-secondPart;
          .third-part {
            animation-name: eating-right-pincer-thirdPart;
            .moving-pincer {
              animation-name: eating-right-pincer-close;
              animation-timing-function: linear;
            }
          }
        }
      }

      .left-pincer {
        animation-name: eating-left-pincer;
        animation-duration: 3s;
        animation-delay: 0.5s;
        * {
          animation-duration: 3s;
          animation-delay: 0.5s;
        }
        .second-part {
          animation-name: eating-left-pincer-secondPart;
          .third-part {
            animation-name: eating-left-pincer-thirdPart;
            .moving-pincer {
              animation-name: eating-left-pincer-close;
              animation-timing-function: linear;
            }
          }
        }
      }
    }

    .mouth {
      .outer-mouth {
        * {
          animation-duration: 1s;
          animation-delay: 2.5s;
          animation-timing-function: ease-in-out;
        }
        .right-mouth { animation-name: eating-right-mouth; }
        .left-mouth { animation-name: eating-left-mouth; }
      }
    }
    }

    //WAVING ANIMATION
    @keyframes waving-right-pincer {
    /* 0% { transform: rotateZ(-20deg); } */
    25% { transform: rotateZ(40deg); }
    45% { transform: rotateZ(-40deg); }
    65% { transform: rotateZ(50deg); }
    }

    @keyframes waving-right-pincer-secondPart {
    25% { transform: rotateZ(0deg); }
    90% { transform: rotateZ(0deg); }
    }

    @keyframes waving-right-pincer-thirdPart {
    25% { transform: rotateZ(5deg); }
    90% { transform: rotateZ(5deg); }
    }

    @keyframes waving-left-pincer {
    25% { transform: rotateZ(-30deg); }
    45% { transform: rotateZ(40deg); }
    65% { transform: rotateZ(-50deg); }
    }

    @keyframes waving-left-pincer-secondPart {
    25% { transform: rotateZ(5deg); }
    80% { transform: rotateZ(5deg); }
    }

    @keyframes waving-left-pincer-thirdPart {
    25% { transform: rotateZ(0deg); }
    80% { transform: rotateZ(0deg); }
    }

    &.waving {
    .pincers {
      .right-pincer {
        animation-name: waving-right-pincer;
        animation-duration: 2.5s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        * {
        animation-duration: 2.5s;
        animation-delay: 0.5s;
        animation-timing-function: ease-in-out;
        }
        .second-part {
          animation-name: waving-right-pincer-secondPart;
          .third-part {
            animation-name: waving-right-pincer-thirdPart;
          }
        }
      }

      .left-pincer {
        animation-name: waving-left-pincer;
        animation-duration: 2.5s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
        * {
          animation-duration: 2.5s;
          animation-delay: 1s;
          animation-timing-function: ease-in-out;
        }
        .second-part {
          animation-name: waving-left-pincer-secondPart;
          .third-part {
            animation-name: waving-left-pincer-thirdPart;
          }
        }
      }
    }
    }

    //SNAPPING ANIMATION
    @keyframes snapping-right-pincer {
    10% { transform: rotateZ(-30deg); }
    90% { transform: rotateZ(-30deg); }
    }

    @keyframes snapping-right-pincer-secondPart {
    10% { transform: rotateZ(0deg); }
    90% { transform: rotateZ(0deg); }
    }

    @keyframes snapping-right-pincer-thirdPart {
    10% { transform: rotateZ(10deg); }
    90% { transform: rotateZ(10deg); }
    }

    @keyframes snapping-right-pincer-close {
    17.43% { transform: rotateZ(5deg); }
    21.43% { transform: rotateZ(35deg); }
    25.43% { transform: rotateZ(5deg); }
    40.29% { transform: rotateZ(5deg); }
    44.29% { transform: rotateZ(35deg); }
    48.29% { transform: rotateZ(5deg); }
    63.15% { transform: rotateZ(5deg); }
    67.15% { transform: rotateZ(35deg); }
    71.15% { transform: rotateZ(5deg); }
    74.58% { transform: rotateZ(5deg); }
    78.58% { transform: rotateZ(35deg); }
    82.58% { transform: rotateZ(5deg); }
    }

    @keyframes snapping-left-pincer {
    10% { transform: rotateZ(30deg); }
    90% { transform: rotateZ(30deg); }
    }

    @keyframes snapping-left-pincer-secondPart {
    10% { transform: rotateZ(0deg); }
    90% { transform: rotateZ(0deg); }
    }

    @keyframes snapping-left-pincer-thirdPart {
    10% { transform: rotateZ(-10deg); }
    90% { transform: rotateZ(-10deg); }
    }

    @keyframes snapping-left-pincer-close {
    28.86% { transform: rotateZ(-5deg); }
    32.86% { transform: rotateZ(-35deg); }
    35.72% { transform: rotateZ(-5deg); }
    38.58% { transform: rotateZ(-35deg); }
    42.58% { transform: rotateZ(-5deg); }
    51.72% { transform: rotateZ(-5deg); }
    55.72% { transform: rotateZ(-35deg); }
    59.72% { transform: rotateZ(-5deg); }
    63.15% { transform: rotateZ(-5deg); }
    67.15% { transform: rotateZ(-35deg); }
    71.15% { transform: rotateZ(-5deg); }
    74.58% { transform: rotateZ(-5deg); }
    78.58% { transform: rotateZ(-35deg); }
    82.58% { transform: rotateZ(-5deg); }
    }

    &.snapping {
      .pincers {
        .right-pincer {
          animation-name: snapping-right-pincer;
          animation-duration: 3s;
          animation-delay: 0.5s;
          animation-timing-function: ease-in-out;
          * {
            animation-duration: 3s;
            animation-delay: 0.5s;
            animation-timing-function: ease-in-out;
          }
          .second-part {
            animation-name: snapping-right-pincer-secondPart;
            .third-part {
              animation-name: snapping-right-pincer-thirdPart;
              .moving-pincer {
                animation-name: snapping-right-pincer-close;
                animation-timing-function: linear;
              }
            }
          }
        }

        .left-pincer {
          animation-name: snapping-left-pincer;
          animation-duration: 3s;
          animation-delay: 0.5s;
          animation-timing-function: ease-in-out;
          * {
            animation-duration: 3s;
            animation-delay: 0.5s;
            animation-timing-function: ease-in-out;
          }
          .second-part {
            animation-name: snapping-left-pincer-secondPart;
            .third-part {
              animation-name: snapping-left-pincer-thirdPart;
              .moving-pincer {
                animation-name: snapping-left-pincer-close;
                animation-timing-function: linear;
              }
            }
          }
        }
      }
    }
  }
}